<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <h1 class="display-2 text-center">Duel Time!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col align-self-start">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
    </div>
  </div>




  <div class="row align-self-center">
    <!-- Info layer -->
    <div class="col align-self-center">
      <table class="table table-hover table-sm text-center">
        <thead class="align-self-center">
          <tr>
            <th class="text-right w-25"><h3 class="display-4"><%= @trip1.start %></h3></th>
            <th class="text-center w-25"><h3 class="display-4"></h3></th>
            <th class="text-left w-25"><h3 class="display-4"><%= @trip2.start %></h3></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-right"><%= @trip1.start %></td>
            <td class="text-center"><span class="font-weight-bold">Start point</span></td>
            <td class="text-left"><%= @trip2.start %></td>
          </tr>
          <tr>
            <td class="text-right"><%= @trip1.end %></td>
            <td class="text-center"><span class="font-weight-bold">End point</span></td>
            <td class="text-left"><%= @trip2.end %></td>
          </tr>
          <tr>
            <td class="text-right"><%= @trip1.length %> km</td>
            <td class="text-center"><span class="font-weight-bold">Length</span></td>
            <td class="text-left "><%= @trip2.length %> km</td>
          </tr>

          <tr>
            <td class="text-right">
              <% if @trip1.link != nil%>
                <iframe class="maps align-self-end" src="https://www.google.com/maps/embed?pb=<%= @trip1.link %>"  frameborder="0"><%= @trip1.start %></iframe>
              <% end %>
            </td>
            <td class="text-center">
              <%= form_tag("/arena", method: "post") do  %>
                <div class="asd">
                  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" >
                    <label class=" btn btn-secondary w-50">
                      <%= radio_button_tag(:toggle, @tripIds[0], :name =>"options") %> Left one!
                    </label>
                    <label class=" btn btn-secondary w-50">
                      <%= radio_button_tag(:toggle, @tripIds[1], :name =>"options") %>Right one!
                    </label>
                  </div>

                <div class = "field w-100">
                  <%= hidden_field_tag("left", @tripIds[0]) %>
                  <%= hidden_field_tag("right", @tripIds[1]) %>
                  <%= submit_tag("Lay down your judgement!", :class =>"btn btn-primary w-100") %>
                </div>
              </div>
              <% end %>
            </td>
            <td class="text-left ">
              <% if @trip2.link != nil%>
                  <iframe class="maps" src="https://www.google.com/maps/embed?pb=<%= @trip2.link %>"  frameborder="0"><%= @trip2.start %></iframe>
              <% end %>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
