<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <h1 class="display-2 text-center">Duel Time!</h1>
    </div>
  </div>


  <div class="row">
    <div class="col align-self-start">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
    </div>
  </div>

<!--______________-->

  <div class="row">
    <div class="col">
      <!-- This seems rather hacky way to do this, but oh well for now it goes.-->
      <% @trip = @trip1 %>
      <%= render partial: "arenacorner" %>
    </div>
    <!--______________-->
    <div class="col-sm align-self-end">
      <%= form_tag("/arena", method: "post") do  %>
        <div class="asd">
          <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" >
            <label class=" btn btn-secondary w-50">
              <%= radio_button_tag(:toggle, @tripIds[1], :name =>"options") %> Left one!
            </label>
            <label class=" btn btn-secondary w-50">
              <%= radio_button_tag(:toggle, @tripIds[0], :name =>"options") %>Right one!
            </label>
          </div>

        <div class = "field w-100">
          <%= hidden_field_tag("left", @tripIds[0]) %>
          <%= hidden_field_tag("right", @tripIds[1]) %>
          <%= submit_tag("Lay down your judgement!", :class =>"btn btn-primary w-100") %>
        </div>
      </div>
      <% end %>
    </div>
    <!--______________-->
    <div class="col">
      <% @trip = @trip2 %>
      <%= render partial: "arenacorner" %>
    </div>

  </div>
</div>
