<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <h1 class="display-2 text-center"><%= @trip.start %> - <%= @trip.end %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center text-center">
      <h3 class="display-5">Length:<%= @trip.length %> Elo:<%= @trip.elo %></h3>
    </div>
  </div>
  <div class="row-lg h-50">
    <div class="col-lg">
      <% if @trip.link != nil%>
        <div class="w-100 h-100 no-gutters">
          <iframe class="maps" src="https://www.google.com/maps/embed?pb=<%= @trip.link %>"  width="100%" height="100%" frameborder="0" allowfullscreen>asd</iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>
